body {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-item {
    width: 100%; /* New line: Set a default width for all content items */
    margin-bottom: 0px;
}

img {
    width: 100%;
    height: auto;
}

.music-iframe iframe {
    width: 100%; /* New line: Make sure the iframe takes the full width of its parent */
    height: 450px; /* default height for larger screens */
}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px; /* Adjust as necessary */
    }
    
    footer {
        font-size: 16px; /* Adjust as necessary */
    }

    .music-iframe iframe {
        height: 500px; /* Updated height for smaller screens */
    }

    iframe.content-item { /* Targeting the YouTube iframe */
        height: 315px; /* Adjust this as needed */
    }
}
