body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
}

.content-item {
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}

.music-iframe iframe {
    height: 200px; /* default height for larger screens */
}

@media only screen and (max-width: 600px) {
    .music-iframe iframe {
        height: 300px; /* height for smaller screens */
    }
}
